.search {
    width: 300px; /* Ширина поля с кнопкой */
    border: 1px solid #000; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
}
input[type="search"] {
    border: #a52a2a; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
}
input[type="submit"] {
    width: 100px; /* Ширина кнопки */
    height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: #15a8b4;
}
.cord {
    color: black;
    text-align: center;
}

.state {
    color: black;
    text-align: center;
}

input.zipsearch {
    background: rgb(239 239 239);
}

#google-map {
    height: 400px;
    width: 100%;
}